dill
Arpeggio
cycler
decorator
enum34
Faker
future
graphviz
h5py
ipaddress
joblib
kiwisolver
matplotlib
networkx
numpy
pandas
patsy
pydot
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
sklearn
subprocess32
text-unidecode
pymc3==3.8
Theano==1.0.4
tqdm
boto3
dask
distributed
redis
ordered-set
# Optionally add bokeh if you want 
# to use dask insteractive dashboard
bokeh
pytest
coverage
