<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="/static/css/test.css" rel="stylesheet">
    </head>
    <body>
        <div style="width:600px; margin:0 auto;">
	<p class="static-example-css">
	This heading using css linked in the /static/css directory. You could create another directory for called /static/js/ to hold the javascript code.
	</p>
	<p>
        Have a look at the code, I'm posting an ajax request to the local server
        which is passing it on to the Private @ unforgettable.me 
        and sending back the response
        </p>
        <p>
        Post a CMD: <input id="cmd" type="text" />
        </p>
        <textarea style="width:600px; height:400px;" id="response"></textarea>
        <div>
    <script>

        $('#cmd').keydown(function(event){ 
            var keyCode = (event.keyCode ? event.keyCode : event.which);   
            if (keyCode == 13) {
                var cmd = $.trim( $('#cmd').val() );
                send_cmd(cmd);
                $("#cmd").val("");
            }
        });
        var write_cmd = function(cmd){
            var t = $("#response").val(); 
            $("#response").val(t + ">>> " + cmd + "\n");
        }
        var write_response = function(res){
            var t = $("#response").val(); 
            $("#response").val(t + res + "\n");
        }

        var send_cmd = function(cmd){
            if (!cmd) return;
                
            write_cmd(cmd);
            data = { 'cmd': cmd, 'uid': '1234567' };

            $.ajax({
                type: "POST",
                url: 'http://localhost:5000/analyze',
                data: data,
                success: function(data){
                    console.log(data);
                    if(data.response){
                        write_response(data.response)
                    }
                },
                dataType: "json"
            });

        }
    </script>
    </body>
</html>
