<style>


    /* Ace editor  */
    .ace_editor, .toolbar, .sj {
        //border: 1px solid lightgray;
        margin: auto;
        //width: 90%;
    }

    .toolbar button {
        float:right;
    }
    .ace_editor {
        height: 200px;
    }

    .full-screen {
        position:fixed;
        top:0px;
        right:0px;
        bottom:0px;
        left:0px;
    }

    .flex-container {
        /* We first create a flex layout context */
        display: flex;

        /* Then we define the flow direction 
         and if we allow the items to wrap 
        * Remember this is the same as:
        * flex-direction: row;
        * flex-wrap: wrap;
        */
        flex-flow: row wrap;

        /* Then we define how is distributed the remaining space */
        justify-content: space-around;

        padding: 0;
        margin: 0;
        list-style: none;
    }

    .flex-editor {
        min-width:70%;
    }

    .flex-variables {
        padding: 5px;
        max-width:300px;
    }

    .highlight-line {
        position:absolute;
        background:rgba(100,200,100,0.2);
        z-index:20;
    }


    /* SJ display */
    .flex-sj-item {
        min-width:25%;
        color:#AAA;
    }



    /* Variable Table */

    * {
        box-sizing: border-box;
    }

    #variable_input {
        background-image: url('/static/css/search_icon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #variable_table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 12px;
    }

    #variable_table th, #variable_table td {
        text-align: left;
        padding: 9px;
    }

    #variable_table tr {
        border-bottom: 1px solid #ddd;
    }

    #variable_table tr.header, #variable_table tr:hover {
        background-color: #f1f1f1;
    }

    .tr-variable-display:hover {
        cursor: pointer;
    }

    .red {
        color: red;
    }

    .blue {
        color: blue;
    }

    /* Results Display*/

    .modal-outer {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    .modal-inner {
        background-color: #fff;
        padding: 25px;
        margin: 25% auto;
        min-height: 260px;
        overflow: scroll;
        text-align: left;
        max-height:600px;
        z-index: 1000;
        max-width:85%;
        margin-top:100px;
    }

    .figure{
        margin-bottom:30px;
    }

    @media only screen and (max-width: 1200px) {
        .figure{
            margin-bottom:30px;
            width: 250px;
            float: left;
        }

    }

    #figures-caption{
        text-align:center;
        margin-bottom: 20px;
    }

    #figures-img{
        margin:auto;
    }

    .figures-close{
        color:#CCC;
        float:right;
        font-size:2em;
    }

    .figures-close:hover{
        color:#000;
        cursor: pointer;
    }

    #figures-data{
        text-align: left;
        border:0px;
    }

    

</style>

<div style="display: none;" class="figures-outer modal-outer">
    <div style="text-align:center;" class="figures-inner modal-inner">
    <span class="glyphicon glyphicon-remove figures-close"></span>
        <div id="figures-caption"></div>
        <img class="img-responsive" id="figures-img" src="" />
        <div><pre id="figures-data"></pre></div>
    </div>
</div>


<div class="flex-container" id="interface-container">
    
    <div class="flex-editor" id="editor-container">
        <div class="sj flex-container">
            <div class="flex-sj-item" id="sj-total-jobs">Total jobs: 0</div>
            <div class="flex-sj-item" id="sj-compute-jobs">Compute jobs: 0</div>
            <div class="flex-sj-item" id="sj-sampler-jobs">Sampler jobs: 0</div>
            <div class="flex-sj-item" id="sj-manifold-privacy-jobs">Manifold privacy jobs: 0</div>
        </div>
        <pre id="editor"></pre>
    </div>
    <div class="flex-variables">
        <input type="text" id="variable_input" onkeyup="variable_filter()" placeholder="Search for variables..." title="Type in a name">
        <table id="variable_table">
            <tr class="header">
                <th style="width:40%;">Name</th>
                <th style="width:60%;">Value</th>
            </tr>
        </table>
    </div>
</div>

<script>

    /** Ace editor Start **/
    var buildDom = require("ace/lib/dom").buildDom;
    var editor = ace.edit("editor");
    var local_storage_key = '{{project_id}}_code'
    editor.setOptions({
        theme: "ace/theme/tomorrow_night_eighties",
        mode: "ace/mode/python",
        maxLines: 40,
        minLines: 40,
        autoScrollEditorIntoView: true,
    });
    var refs = {};
    function updateToolbar() {
        refs.sendButton.disabled = editor.session.getUndoManager().isClean();
    }

    editor.on("input", updateToolbar);
    var initial_code = `{{code|safe}}`; // love multiline strings!!

    // If no server side code, then use local storage or empty string
    editor.session.setValue(initial_code || localStorage.getItem(local_storage_key) || "" ) 

    function save(code) {
        localStorage.setItem(local_storage_key, code);
    }

    function sv() {
        console.log("svdict");
        // Fetch result
        send_exec(null, "svdict")

    }

    function sj() {
        console.log("sjdict");
        // Fetch result
        send_exec(null, "sjdict");

    }

    function update_sj(res){
        console.log("Updating sj", res);
        sj_dict = JSON.parse(res);
        // {"total_jobs": 0, "compute_jobs": 0, "sampler_jobs": 0, "manifold_jobs": 0}
        $("#sj-total-jobs").text("Total jobs: " +  sj_dict.total_jobs); 
        $("#sj-compute-jobs").text("Compute jobs: " + sj_dict.compute_jobs); 
        $("#sj-sampler-jobs").text("Sampler jobs: " + sj_dict.sampler_jobs); 
        $("#sj-manifold-privacy-jobs").text("Manifold privacy jobs: " + sj_dict.manifold_jobs); 
    
    }

    function send_exec(e, cmd, display_individual_value=false) {
        var save_code = false 
        if(!cmd){
            // Sending all data
            cmd = editor.getValue();
            save(cmd);
            save_code = true
            editor.session.getUndoManager().markClean();
            updateToolbar();
            editor.session.clearAnnotations();
        }

        var data = { 'cmd': cmd, 'save_code': save_code, 'project_id': '{{project_id}}', 'uid': '{{uid}}' };
        console.log(data);
        $.ajax({
            type: "POST",
            url: '{{analyze_url}}',
            data: data,
            success: function(data){
                console.log("ajax:success:cmd", cmd, data);
                if(data.status == 'success'){
                    if(data.response){
                        if(cmd === 'sjdict'){
                            update_sj(data.response); 
                        }else if(!display_individual_value){
                            try{
                                build_variable_table(JSON.parse(data.response));
                            }catch(err){
                                // Exception coming back from private
                                $("#figures-data").text(data.response);
                                $("#figures-caption").text("");
                                $(".figures-outer").fadeIn('slow');
                            }
                        }else if(data.type == 'graph'){
                            // show graph
                            $("#figures-img").prop("src", data.response);
                            $("#figures-caption").text(cmd);
                            $(".figures-outer").fadeIn('slow');

                        }else if (data.type == 'terminal'){
                            // show data
                            $("#figures-data").text(data.response);
                            $("#figures-caption").text(cmd);
                            $(".figures-outer").fadeIn('slow');
                        }
                    }else{
                        // We've just comeback from a send
                        // so update variables
                        sv();
                    }
                }else if (data.status == 'failed'){
                    alert_failed_request(data);
                }

            },
            error: function(xhr, textStatus, errorThrown) {
                //_hide_loader();
                console.log("ajax:fail:cmd", cmd);
                alert("Command could not be run at this time: " + cmd + ". Please try again");  
            },
            complete: function(xhr, textStatus){
                // pass
            },            
            dataType: "json"
        });


    }

    function alert_failed_request(data){
        if(data.type == 'syntax_error'){
            set_syntax_errors(data);
        }
    }

    function set_syntax_errors(data){
        annotations = [];
        for (var i = 0; i < data.value.length; i++){
            annotations.push({
                row: data.value[i][0] - 1,
                column: 0,
                text: "Syntax error",
                type: "error"
            });
        }
        editor.session.setAnnotations(annotations);
    }

    editor.commands.addCommand({
        name: "sv",
        exec: sv,
        bindKey: { win: "ctrl-s", mac: "cmd-s" }
    });
    
    editor.commands.addCommand({
        name: "send",
        exec: send_exec,
        bindKey: { win: "ctrl-m", mac: "cmd-m" }
    });

    buildDom(["div", { class: "toolbar" },
        ["button", {
            ref: "sendButton",
            onclick: send_exec
        }, "send"],
        ["button", {
            ref: "svButton",
            onclick: sv
        }, "sv"],
        ["button", {
            ref: "sjButton",
            onclick: sj
        }, "sj"],
    ], document.getElementById('editor-container'), refs);


    editor.commands.addCommand({
        name: "showKeyboardShortcuts",
        bindKey: {win: "Ctrl-Alt-h", mac: "Command-Alt-h"},
        exec: function(editor) {
            ace.config.loadModule("ace/ext/keybinding_menu", function(module) {
                module.init(editor);
                editor.showKeyboardShortcuts()
            })
        }
    })


    
    window.editor = editor;

    /* Ace editor End */



    /** Variable Table **/
    function variable_filter() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("variable_input");
        filter = input.value.toUpperCase();
        table = document.getElementById("variable_table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            tdvalue = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                valValue = tdvalue.textContent || tdvalue.innerText; 
                if ((txtValue.toUpperCase().indexOf(filter) > -1) || (valValue.toUpperCase().indexOf(filter) > -1)) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }       
        }
    }

    function make_display_value(res){
        var p = document.createElement("span");
        if(res.comment){
            p.innerHTML = res.comment;
            p.classList.add('red');
            p.setAttribute('title', 'Exception');
        }else if(res.unsatisfied){
            p.innerHTML = "* " + res.unsatisfied;
            p.classList.add('blue');
            p.setAttribute('title', 'Unsatisfied dependency: ' + res.unsatisfied);
        }else if(res.value){
            p.innerHTML = res.value;
        }
        return p;
    }


    function add_default_variables(res){
        var default_variables = {
            dgg: {name: "dgg", value: "COMMAND", comment: "", unsatisfied: ""},
            dig: {name: "dig", value: "COMMAND", comment: "", unsatisfied: ""},
            dpg: {name: "dpg", value: "COMMAND", comment: "", unsatisfied: ""}, // "[PNG Image]"
            sd: {name: "sd", value: "COMMAND", comment: "", unsatisfied: ""},
            scode: {name: "scode", value: "COMMAND", comment: "", unsatisfied: ""},
            sevalcode: {name: "sevalcode", value: "COMMAND", comment: "", unsatisfied: ""},
            smccode: {name: "smccode", value: "COMMAND", comment: "", unsatisfied: ""},
            sss: {name: "sss", value: "COMMAND", comment: "", unsatisfied: ""},
            ssr: {name: "ssr", value: "COMMAND", comment: "", unsatisfied: ""},
            ss: {name: "ss", value: "COMMAND", comment: "", unsatisfied: ""},
            sg: {name: "sg", value: "COMMAND", comment: "", unsatisfied: ""},
            vc: {name: "vc", value: "COMMAND", comment: "", unsatisfied: ""},
            vs: {name: "vs", value: "COMMAND", comment: "", unsatisfied: ""},
            sb: {name: "sb", value: "COMMAND", comment: "", unsatisfied: ""},
            spb: {name: "spb", value: "COMMAND", comment: "", unsatisfied: ""}
        }

        for (var key in default_variables){
            if(!default_variables.hasOwnProperty(key)) continue;
            res[key] = default_variables[key];
        }

        return res;
    }

    function build_variable_table(res) {
        res = add_default_variables(res);
        var table = document.getElementById("variable_table");
        for (var i = table.rows.length-1; i > 0 ; i--){
            table.deleteRow(i);
        }

        // 'name': k,
        // 'value': value_bits[i],
        // 'comment': comment_bits[i],
        // 'unsatified': unsatisfied_depends[i]

        var index = 1;
        for (var key in res){
            if(!res.hasOwnProperty(key)) continue;
            var row = table.insertRow(index++);
            row.setAttribute('data-key', key);
            if(key !== 'Events' && key !== 'DemoEvents'){
                row.classList.add('tr-variable-display');
                row.onclick = function(){
                    console.log(this.getAttribute('data-key'));
                    send_exec(null, this.getAttribute('data-key'), true);
                } 
            }
            var td_name = row.insertCell(0); 
            var td_value = row.insertCell(1);
            td_name.innerHTML = key;
            td_value.appendChild( make_display_value(res[key]) ); 
        }

        // Apply variable filter
        variable_filter();
    }


    /* Variable Table End */



    /* Variable Display */

    $(".figures-close").on('touchstart click', function(event){
        console.log(".figures-close: touchstart click");
        if(event.handled === false) return
        event.stopPropagation();
        event.preventDefault();
        event.handled = true;
       
        $(".figures-outer").hide();
        $("#figures-img").prop("src", "");
        $("#figures-caption").text("");
        $("#figures-data").text("");
    });



    /* Variable Display End */

    // Stop scrolling out of editor window
    $('#editor').on('mousewheel DOMMouseScroll', function(e){
            var delta = e.originalEvent.wheelDelta || -e.originalEvent.detail;
            if (delta > 0 && $(this).scrollTop() <= 0) return false;
            if (delta < 0 && $(this).scrollTop() >= this.scrollHeight - $(this).height()) return false;
            return true;
    });



    /* Page load */
    $(document).ready(function(){
        // Preload data or fetch current state
        editor.session.getUndoManager().markClean();
        updateToolbar();

        sv();
    });


</script>
